<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome {{details.name}}</title>
</head>
<body>
    <h1>Hello {{details.name}}</h1>
    <h3>Your username is: {{details.username}}</h3>
    <h3>Your birthday is: {{details.ditelindja}}</h3>
    <h3>Your birthplace is: {{details.vendlindja}}</h3>
    <h3>You live in: {{details.vendbanimi}}</h3>
    
</body>
</html>