<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{alert}}</title>
  <style>
    body{
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content:center;
      flex-direction: column
    }
    #button{
    }
  </style>
</head>
<body>
  <H1>{{alert}}</H1>
  <form action="/home" method="POST">
    <label>UserName:</label>
    <input name="name" type="text">
    <br><br>
    <label>Password:</label>
    <input name="password" type="password">
    <br><br>
    <input id="button" type="submit" name="form" value="Submit">
  </form>
  <form action='/register'>
    <br><br><br><br><br><br>
    <input type="submit" name='register' value="Register">
  </form>
  
  
  
</body>
</html>